* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Coda Caption', sans-serif;
}

.container {
    position: relative;
    height: 100vh;
}

.nav-fixed {
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 70px;
    top: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-r {
    float: right;
    padding-top: 20px;
    
}

.float-r a {
    padding: 5px 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.container:nth-last-child(3) {
    background-color: red;   
}

.container:nth-last-child(2) {
    background-color: green;   
}

.container:last-child {
    background-color: yellow;   
}

img {
    width: 600px;
}

#box1, #box2, #box3 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#box1 div, #box2 div, #box3 div {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

#box1 div, #box2 div {
    color: yellow;
}

#box3 div {
    color: green;
}
